<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zmj.mybatisplus.mapper.UserMapper">
    <sql id="Base_Column_List">
        id, name, age, email
    </sql>
    <select id="selectByName" resultType="com.zmj.mybatisplus.entity.User">
        select
        <include refid="Base_Column_List"/>
        from user
        where
        name like "%" #{name} "%"
    </select>
    <select id="selectPageByPage" resultType="com.zmj.mybatisplus.entity.User">
        SELECT <include refid="Base_Column_List"/> FROM user WHERE age > #{age}
    </select>
</mapper>